@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.login-btn {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background-size: 400%;
  border: none;
  cursor: pointer;
}

.login-btn:hover::before {
  transform: scaleX(1);
}

.login-btn-content {
  position: relative;
  z-index: 1;
}

.login-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

/* From Uiverse.io by boryanakrasteva */ 
.input-container {
  position: relative;
}

.icon {
  position: absolute;
  right: 10px;
  top: calc(50% + 5px);
  transform: translateY(calc(-50% - 5px));
}

.input {
  height: 40px;
  padding: 10px;
  transition: .2s linear;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.input:focus {
  outline: none; 
  border: 0.5px solid rgb(4, 21, 216);
  box-shadow: -5px -5px 0px rgb(4, 21, 216);
}

.input-container:hover > .icon {
  animation: anim 1s linear infinite;
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}

/* From Uiverse.io by SalladShooter */ 
.light-button button.bt {
  position: relative;
  height: 440px;
  display: flex;
  align-items: flex-end;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

.light-button button.bt .button-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  background-color: #0a0a0a;
  border-radius: 100%;
  color: #0f0f0f;
  font-weight: 700;
  transition: 300ms;
  outline: #0f0f0f 2px solid;
  outline-offset: 20;
}

.light-button button.bt .button-holder svg {
  height: 50px;
  fill: #0f0f0f;
  transition: 300ms;
}

.light-button button.bt .light-holder {
  position: absolute;
  height: 400px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.light-button button.bt .light-holder .dot {
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: #0a0a0a;
  border-radius: 10px;
  margin-left: 100px;
  z-index: 2;
}

.light-button button.bt .light-holder .light {
  position: absolute;
  top: 0;
  width: 500px;
  height: 300px;
  margin-left: 100px;
  clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
  background: transparent;
}

.light-button button.bt:hover .button-holder svg {
  fill: rgba(101, 101, 121, 1);
}

.light-button button.bt:hover .button-holder {
  color: rgba(101, 101, 121, 1);
  outline: rgba(101, 101, 121, 1) 2px solid;
  outline-offset: 2px;
}

.light-button button.bt:hover .light-holder .light {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(101, 101, 121, 1) 0%,
    rgba(255, 255, 255, 0) 75%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* From Uiverse.io by Smit-Prajapati */ 
.orange {
  color: rgb(4,21,216);
}

.form-container-hack  {
  max-width: 700px;
  background-color: #001925;
  padding: 30px;
  border-left: 5px solid rgb(4,21,216);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}

.form-container-hack .heading {
  display: block;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.form-container-hack .form .input-hack {
  color: #87a4b6;
  width: 100%;
  background-color: #002733;
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid transparent;
  font-size: 18px;
}

.form-container-hack .form .input-hack:focus {
  border-left: 5px solid rgb(4,21,216);
}

.form-container-hack .form .textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #013747;
  color: rgb(4,21,216);
  font-weight: bold;
  font-size: 18px;
  resize: none;
  max-height: 150px;
  margin-bottom: 20px;
  border-left: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-container-hack .form .textarea:focus {
  border-left: 5px solid rgb(4,21,216);
}

.form-container-hack .form .button-container {
  display: flex;
  gap: 10px;
}

.form-container-hack .form .button-container .send-button {
  flex-basis: 70%;
  background: rgb(4,21,216);
  padding: 10px;
  color: #eff4f6;
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-container-hack .form .button-container .send-button:hover {
  background: transparent;
  border: 1px solid rgb(4,21,216);
  color: rgb(4,21,216);
}

.form-container-hack .form .button-container .reset-button-container {
  filter: drop-shadow(1px 1px 0px rgb(4,21,216));
  flex-basis: 30%;
}

.form-container-hack .form .button-container .reset-button-container .reset-button {
  position: relative;
  text-align: center;
  padding: 10px;
  color: rgb(4,21,216);
  font-weight: bold;
  background: #001925;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
}

.form-container-hack .form .button-container .reset-button-container .reset-button:hover {
  background: rgb(4,21,216);
  color: #eff3f5;
}
.orange {
  color: rgb(4,21,216);
}

.form-container-card  {
  max-width: 500px;
  background-color: #001925;
  padding: 25px;
  border-left: 5px solid #FFEA00;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}

.form-container-card .heading {
  display: block;
  color: white;
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.form-container-card .form .input-hack {
  color: #87a4b6; 
  width: 100%;
  background-color: #002733;
  border: none;
  outline: none;
  padding: 8px;
  margin-bottom: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid transparent;
  font-size: 15px;
  border-left: 5px solid #FFEA00;
}




